<% include ../partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YeldCamp!</h1>
      <p>See some camps over the world here, right here</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Campground</a><br>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %>" alt="camp image">
            <div class="caption">
              <h4 class="pull-right">$<%= campground.price %>/night</h4>
              <h4><a><%= campground.name %></a></h4>
              <p>
                  <a href="/campgrounds/<%= campground._id  %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
          </div>
      </div>
    <% }); %>
  </div>


</div>
<% include ../partials/footer %>
